<div id="<%= dom_id order %>">
  <p>
    <strong>Id:</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= order.merchant_id_id %>
  </p>

  <p>
    <strong>Shopper:</strong>
    <%= order.shopper_id_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= order.amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= order.created_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= order.completed_at %>
  </p>

</div>
