<div id="<%= dom_id disbursement %>">
  <p>
    <strong>Id:</strong>
    <%= disbursement.id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= disbursement.merchant_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= disbursement.amount %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= disbursement.start_at %>
  </p>

</div>
